@import "node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-orange: hsl(25, 97%, 53%);
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-950: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #131518;
}

.card {
  width: min(87.2%, 412px);
  min-width: 327px;
  background: radial-gradient(#232a34, #181e27);
  border-radius: 30px;
  padding-top: 24px;
  padding-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 154px;
}

.card-wrapper {
  /* 279px / 327px or max-width: 341px */
  width: min(85.32%, 341px);
  margin-right: auto;
  margin-left: auto;
}

.icon-wrapper {
  border-radius: 50px;
  background-color: #262e38;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-icon {
}

.primary-heading {
  color: var(--white);
  font-size: clamp(1.5rem, 1.412rem + 0.3756vw, 1.75rem);
  margin-top: 16px;
}

.detailed-paragraph {
  color: var(--grey-500);
  margin-top: 17px;
  font-size: clamp(0.875rem, 0.853rem + 0.0939vw, 0.9375rem);
  line-height: 22px;
}

.number-list {
  list-style: none;
  color: var(--white);
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
}

.number-item {
  background-color: #262e38;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
  color: #7c8798;
  line-height: 24px;
  letter-spacing: 0.17px;
  border: none;
  padding-top: 3px;
  transition: 0.2s;
}

.number-item:hover {
  background-color: var(--primary-orange);
  color: white;
}

/* SELECTED */
.selected {
  background-color: #7c8798;
  color: white;
}
.selected:hover {
  background-color: #7c8798;
  color: white;
  opacity: 0.8;
}

.number-item a {
  padding-top: 3px;
}

.submit {
  margin-top: 24px;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: clamp(0.875rem, 0.853rem + 0.0939vw, 0.9375rem);
  font-weight: bolder;
  letter-spacing: 1.87px;
  border-radius: 22.5px;
  border: none;
  background-color: var(--primary-orange);
  color: var(--white);
  transition: 0.2s;
}

.submit:hover {
  background-color: var(--white);
  color: var(--primary-orange);
}

.unclickable {
  opacity: 0.1;
}

.unclickable:hover {
  background-color: var(--primary-orange);
  color: var(--white);
  cursor: not-allowed;
}

.card-result {
  width: min(87.2%, 412px);
  min-width: 327px;
  background: radial-gradient(#232a34, #181e27);
  border-radius: 30px;
  padding-top: 34px;
  padding-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 154px;
}

.card-result-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.thanks-img {
  width: 144px;
}

.result {
  color: var(--primary-orange);
  background-color: #262e38;
  border-radius: 22.5px;
  margin-top: 32px;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-right: 20px;
  padding-left: 20px;
}

.thanks {
  margin-top: 32px;
  font-size: 1.625rem;
}

.details {
  width: 82.5%;
  text-align: center;
  margin-top: 7px;
  color: #969fad;
  font-size: 0.9375rem;
}

@media (600px <= width < 1200px) {
}

@media (1200px <= width) {
  .card {
    padding-top: 32px;
  }

  .primary-heading {
    margin-top: 32px;
  }

  .detailed-paragraph {
    margin-top: 7px;
  }

  .number-list {
    justify-content: space-between;
  }

  .number-item {
    width: 51px;
    height: 51px;
  }

  .submit {
    margin-top: 32px;
  }
}
